<app-header></app-header>


<section class="text-gray-600 body-font">
  <div class="container flex flex-col px-5 mx-auto">
    <div>

      <div class="flex flex-col mt-10 sm:flex-row">
        <div class="py-8 w-1/3 text-center sm:pr-8">
          <div class="inline-flex items-center justify-center w-20 h-20 text-gray-400 bg-gray-200 rounded-full">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10" viewBox="0 0 24 24">
              <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
              <circle cx="12" cy="7" r="4"></circle>
            </svg>
          </div>
          <div  class="flex flex-col items-center justify-center text-center">
            <h2 class="mt-4 font-medium text-gray-900 text-lg title-font">{{username}} Ingresador</h2>
            <div class="mt-2 mb-4 w-12 h-1 bg-indigo-500 rounded"></div>
            <p class="text-base">Raclette knausgaard hella meggs normcore williamsburg enamel pin sartorial venmo tbh hot chicken gentrify portland.</p>
          </div>
        </div>
        <div class="mt-4 pt-4 py-8 mt-0 w-2/3 text-center text-left border-gray-200 border-t border-l border-t-0 sm:pl-8">
          <p class="mb-4 leading-relaxed text-lg">Relevamiento industrial manufacturero muestra un panorama crítico para el sector, con caídas en la producción y actividad industrial en varios rubros y una reducción en la utilización de la capacidad instalada. Es importante seguir monitoreando estos indicadores para comprender mejor la situación actual y futura del sector manufacturero.</p>

          <div  class="flex mt-6 md:mt-4">
            <a href="/one" class="inline-flex items-center ml-4"><strong>Comenzar la carga</strong>
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="ml-2 w-4 h-4" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>  

<div class="p-4 bg-white shadow-md">
  <!-- Segmentos -->
  <div class="flex border-b border-gray-300">
    <button 
      id="allSegment"
      class="flex-1 py-2 text-center text-lg font-semibold"
      [ngClass]="{'text-blue-500': activeSegment === 'all'}" 
      (click)="toggleSegment('all')">
      Cargar
    </button>
    
    <button 
      id="favoritesSegment"
      class="flex-1 py-2 text-center text-lg font-semibold"
      [ngClass]="{'text-blue-500': activeSegment === 'favorites'}"
      (click)="toggleSegment('favorites')">
      Buscar
    </button>
  </div>
  <!-- Contenido de los segmentos -->
  <div *ngIf="activeSegment === 'all'" id="allContent" class="p-4">
    <form>
      <div class="container p-6 mx-auto p-4 bg-white rounded-lg shadow-md">

        <br>
        <br>
  
        <div class="mb-4">
          <label class="block mb-1">ID Empresa:</label>
          <input type="number" class="p-2 w-full border" [(ngModel)]="encuesta.id_operativo" name="id_operativo" />
        </div>
  
        <div class="mb-4">
          <label class="block mb-1">Estado de la encuesta:</label>
          <select class="p-2 w-full border" [(ngModel)]="encuesta.estado" name="medio">
                     <option *ngFor="let estado of estados" [value]="estado">
                  {{ estado }}
                 </option>
          </select>
        </div>
        <!-- <div class="mb-4">
          <label class="block mb-1">ID Empresa:</label>
          <input type="number" class="p-2 w-full border" [(ngModel)]="encuesta.id_empresa" name="id_empresa" />
        </div> -->
  
        <div class="mb-4">
          <label class="block mb-1">Ingresador:</label>
          <input type="text" class="p-2 w-full border" [(ngModel)]="encuesta.ingresador" name="ingresador" />
        </div>
  
        <div class="mb-4">
          <label class="block mb-1">Analista:</label>
          <input type="text" class="p-2 w-full border" [(ngModel)]="encuesta.analista" name="analista" />
        </div>
  
        <div class="mb-4">
          <label class="block mb-1">Fecha de Entrega:</label>
          <input type="date" class="p-2 w-full border" [(ngModel)]="encuesta.fecha_entrega" name="fecha_entrega" />
        </div>
  
        <div class="mb-4">
          <label class="block mb-1">Fecha de Recupero:</label>
          <input type="date" class="p-2 w-full border" [(ngModel)]="encuesta.fecha_recupero" name="fecha_recupero" />
        </div>
  
        <div class="mb-4">
          <label class="block mb-1">Fecha de Supervisión:</label>
          <input type="date" class="p-2 w-full border" [(ngModel)]="encuesta.fecha_supervision" name="fecha_supervision" />
        </div>
  
        <div class="mb-4">
          <label class="block mb-1">Medio:</label>
          <select class="p-2 w-full border" [(ngModel)]="encuesta.medio" name="medio">
            <option value="PAPEL">Papel</option>
            <option value="DIGITAL">Digital</option>
          </select>
        </div>
  
        <div class="mb-4">
          <label class="block mb-1">Observaciones del Ingresador:</label>
          <textarea class="p-2 w-full border" [(ngModel)]="encuesta.observaciones_ingresador" name="observaciones_ingresador"></textarea>
        </div>
  
        <div class="mb-4">
          <label class="block mb-1">Observaciones del Analista:</label>
          <textarea class="p-2 w-full border" [(ngModel)]="encuesta.observaciones_analista" name="observaciones_analista"></textarea>
        </div>
    
        <div class="mb-4">
          <label class="block mb-1">Observaciones del Supervisor:</label>
          <textarea class="p-2 w-full border" [(ngModel)]="encuesta.observaciones_supervisor" name="observaciones_supervisor"></textarea>
        </div>
        <div class="flex justify-center">
          <button type="button" class="px-4 py-2 text-white bg-[#FF8300] rounded" (click)="nextStep()">Siguiente</button>
        </div>
      </div>
    </form>
  <br>
  <br>
    </div>

  <div *ngIf="activeSegment === 'favorites'" id="favoritesContent" class="p-4">
    <div class="overflow-x-auto mt-4">
      <table class="min-w-full bg-white divide-y divide-gray-200 rounded-lg shadow">
        <thead class="bg-gray-100">
          <tr>
            <th class="px-4 py-2 text-left text-sm font-medium text-gray-600">ID_Empresa</th>
            <th class="px-4 py-2 text-left text-sm font-medium text-gray-600">ID_Operativo</th>
            <th class="px-4 py-2 text-left text-sm font-medium text-gray-600">Ingresador</th>
            <th class="px-4 py-2 text-left text-sm font-medium text-gray-600">Analista</th>
            <th class="px-4 py-2 text-left text-sm font-medium text-gray-600">Entrega</th>
            <th class="px-4 py-2 text-left text-sm font-medium text-gray-600">Recupero</th>
            <th class="px-4 py-2 text-left text-sm font-medium text-gray-600">Supervisión</th>
            <th class="px-4 py-2 text-left text-sm font-medium text-gray-600">Ingreso</th>
            <th class="px-4 py-2 text-left text-sm font-medium text-gray-600">Medio</th>
            <th class="px-4 py-2 text-left text-sm font-medium text-gray-600">Obs. Ingresador</th>
            <th class="px-4 py-2 text-left text-sm font-medium text-gray-600">Obs. Analista</th>
            <th class="px-4 py-2 text-left text-sm font-medium text-gray-600">Año</th>
            <th class="px-4 py-2 text-left text-sm font-medium text-gray-600">Estado</th>
            <th class="px-4 py-2 text-left text-sm font-medium text-gray-600">Supervisor</th>
            <th class="px-4 py-2 text-left text-sm font-medium text-gray-600">Obs. Supervisor</th>
            <th class="px-4 py-2 text-left text-sm font-medium text-gray-600">Referente</th>
            <th class="px-4 py-2 text-left text-sm font-medium text-gray-600">Ultima Modificacion</th>
            <th class="px-4 py-2 text-left text-sm font-medium text-gray-600">Usuario Modificador</th>

          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">
          <tr (click)="verEncuesta(item.idEmpresa)" *ngFor="let item of pendientes">
            <td class="px-4 py-2 text-sm text-gray-700">{{ item.idEmpresa }}</td>
            <td  class="px-4 py-2 text-sm text-gray-700">{{ item.idOperativo }}</td>
            <td class="px-4 py-2 text-sm text-gray-700">{{ item.ingresador }}</td>
            <td class="px-4 py-2 text-sm text-gray-700">{{ item.analista }}</td>
       
            <td class="px-4 py-2 text-sm text-gray-700">{{ item.fecha_entrega | date:'yyyy-MM-dd' }}</td>
            <td class="px-4 py-2 text-sm text-gray-700">{{ item.fecha_recupero | date:'yyyy-MM-dd' }}</td>
            <td class="px-4 py-2 text-sm text-gray-700">{{ item.fecha_supervision | date:'yyyy-MM-dd' }}</td>
            <td class="px-4 py-2 text-sm text-gray-700">{{ item.fecha_ingreso | date:'yyyy-MM-dd' }}</td>
            <td class="px-4 py-2 text-sm text-gray-700">{{ item.medio }}</td>
            <td class="px-4 py-2 text-sm text-gray-700">{{ item.observaciones_ingresador }}</td>
            <td class="px-4 py-2 text-sm text-gray-700">{{ item.observaciones_analista }}</td>
            <td class="px-4 py-2 text-sm text-gray-700">{{ item.anio }}</td>
            <td class="px-4 py-2 text-sm text-gray-700">{{ item.estado }}</td>
            <td class="px-4 py-2 text-sm text-gray-700">{{ item.supervisor }}</td>
            <td class="px-4 py-2 text-sm text-gray-700">{{ item.observaciones_supervisor }}</td>
            <td class="px-4 py-2 text-sm text-gray-700">{{ item.referente }}</td>
            <td class="px-4 py-2 text-sm text-gray-700">{{ item.fecha_mod_estado | date:'dd/MM/yyyy HH:mm'  }}</td>
            <td class="px-4 py-2 text-sm text-gray-700">{{ item.mod_usu }}</td>

       
          </tr>
        </tbody>
      </table>
    </div>
  
  </div>
</div>
<br>
<br>




<div
class="z-10 overflow-y-auto fixed inset-0"
*ngIf="mostrarModal"
aria-labelledby="modal-title"
role="dialog"
aria-modal="true"
>
<div class="flex items-center justify-center min-h-screen">
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" (click)="cerrarModal()"></div>

  <div class="overflow-hidden z-20 p-6 w-full bg-white rounded-lg shadow-xl transition-all transform sm:max-w-4xl">

    <form (ngSubmit)="guardarCambios()">
      <!-- Paso 1 -->
      <div *ngIf="pasoActual === 1">
    <div class="mb-4">
      <h3 class="mb-4 text-center text-2xl font-bold"> Encuesta</h3>
      <label class="block mb-1">ID Empresa:</label>
      <input type="number" class="p-2 w-full border" [disabled]="true" name="id_empresa" [(ngModel)]="encuestaSeleccionada.id_empresa">
    </div>

    <div class="mb-4">
      <label class="block mb-1">Estado de la encuesta:</label>
      <select class="p-2 w-full border" name="estado" [(ngModel)]="encuestaSeleccionada.estado">
                 <option *ngFor="let estado of estados" [value]="estado">
                  {{ estado }}
                 </option>
      </select>
    </div>

    <div class="mb-4">
      <label class="block mb-1">Ingresador:</label>
      <input type="text" class="p-2 w-full border" name="ingresador" [(ngModel)]="encuestaSeleccionada.ingresador">
    </div>

    <div class="mb-4">
      <label class="block mb-1">Analista:</label>
      <input type="text" class="p-2 w-full border" name="analista" [(ngModel)]="encuestaSeleccionada.analista">
    </div>

    <div class="mb-4">
      <label class="block mb-1">Fecha de Entrega:</label>
      <input type="date" class="p-2 w-full border" name="fecha_entrega" [(ngModel)]="encuestaSeleccionada.fecha_entrega">
    </div>

    <div class="mb-4">
      <label class="block mb-1">Fecha de Recupero:</label>
      <input type="date" class="p-2 w-full border" name="fecha_recupero" [(ngModel)]="encuestaSeleccionada.fecha_recupero">
    </div>

    <div class="mb-4">
      <label class="block mb-1">Fecha de Supervisión:</label>
      <input type="date" class="p-2 w-full border" name="fecha_supervision" [(ngModel)]="encuestaSeleccionada.fecha_supervision">
    </div>

    <div class="mb-4">
      <label class="block mb-1">Medio:</label>
      <select class="p-2 w-full border" [(ngModel)]="encuestaSeleccionada.medio" name="medio">
        <option value="PAPEL">Papel</option>
        <option value="DIGITAL">Digital</option>
      </select>
    </div>

    <div class="mb-4">
      <label class="block mb-1">Observaciones del Ingresador:</label>
      <textarea class="p-2 w-full border" name="observaciones_ingresador" [(ngModel)]="encuestaSeleccionada.observaciones_ingresador"></textarea>
    </div>

    <div class="mb-4">
      <label class="block mb-1">Observaciones del Analista:</label>
      <textarea class="p-2 w-full border" name="observaciones_analista" [disabled]="true" [(ngModel)]="encuestaSeleccionada.observaciones_analista"></textarea>
    </div>

    <div class="mb-4">
      <label class="block mb-1">Observaciones del Supervisor:</label>
      <textarea class="p-2 w-full border" name="observaciones_supervisor" [disabled]="true" [(ngModel)]="encuestaSeleccionada.observaciones_supervisor"></textarea>
    </div>

  </div>
    
      <!-- Paso 2 -->
    <div *ngIf="pasoActual === 2">
  <h3 class="mb-4 text-center text-2xl font-bold">Datos de identificación de empresa</h3>

  <div class="mb-4">
    <label class="block mb-1">Nombre</label>
    <input type="text" class="p-2 w-full border" [(ngModel)]="encuestaSeleccionada.datosIdentificacionEmpresa.nombreEmpresa" name="nombreEmpresa" />
  </div>

  <div class="mb-4">
    <label class="block mb-1">Nombre Fantasía</label>
    <input type="text" class="p-2 w-full border" [(ngModel)]="encuestaSeleccionada.datosIdentificacionEmpresa.nombreFantasia" name="nombreFantasia" />
  </div>

  <div class="mb-4">
    <label class="block mb-1">CUIT</label>
    <input type="text" class="p-2 w-full border" [(ngModel)]="encuestaSeleccionada.datosIdentificacionEmpresa.cuit" name="cuit" />
  </div>

  <div class="mb-4">
    <label class="block mb-1">Dirección Establecimiento</label>
    <input type="text" class="p-2 w-full border" [(ngModel)]="encuestaSeleccionada.datosIdentificacionEmpresa.direccionEstablecimiento" name="direccionEstablecimiento" />
  </div>

  <div class="mb-4">
    <label class="block mb-1">Dirección Administración</label>
    <input type="text" class="p-2 w-full border" [(ngModel)]="encuestaSeleccionada.datosIdentificacionEmpresa.direccionAdministracion" name="direccionAdministracion" />
  </div>

  <div class="mb-4">
    <label class="block mb-1">Departamento</label>
    <input type="text" class="p-2 w-full border" [(ngModel)]="encuestaSeleccionada.datosIdentificacionEmpresa.localidadEstablecimiento" name="localidadEstablecimiento" />
  </div>

  <div class="mb-4">
    <label class="block mb-1">Actividad Principal</label>
    <input type="text" class="p-2 w-full border" [(ngModel)]="encuestaSeleccionada.datosIdentificacionEmpresa.actividadPrincipal" name="actividadPrincipal" />
  </div>

  <div class="mb-4">
    <label class="block mb-1">CLANAE</label>
    <input type="text" class="p-2 w-full border" [(ngModel)]="encuestaSeleccionada.datosIdentificacionEmpresa.clanae" name="clanae" />
  </div>
</div>

    
      <!-- Paso 3 -->
      <div *ngIf="pasoActual === 3">
  <h3 class="mb-4 text-center text-2xl font-bold">Datos Respondiente</h3>

  <div class="mb-4">
    <label class="block mb-1">Nombre</label>
    <input type="text" class="p-2 w-full border" [(ngModel)]="encuestaSeleccionada.datosRespondiente.nombreApellido" name="nombreApellido">
  </div>

  <div class="mb-4">
    <label class="block mb-1">Cargo - Área</label>
    <input type="text" class="p-2 w-full border" [(ngModel)]="encuestaSeleccionada.datosRespondiente.cargoArea" name="cargoArea">
  </div>

  <div class="mb-4">
    <label class="block mb-1">Tipo de Teléfono</label>
    <input type="text" class="p-2 w-full border" [(ngModel)]="encuestaSeleccionada.datosRespondiente.tipoTelefono" name="tipoTelefono">
  </div>

  <div class="mb-4">
    <label class="block mb-1">Número de Teléfono</label>
    <input type="text" class="p-2 w-full border" [(ngModel)]="encuestaSeleccionada.datosRespondiente.numeroTelefono" name="numeroTelefono">
  </div>

  <div class="mb-4">
    <label class="block mb-1">Email</label>
    <input type="email" class="p-2 w-full border" [(ngModel)]="encuestaSeleccionada.datosRespondiente.email" name="email">
  </div>
</div>

<!-- Paso 4 -->
<div *ngIf="pasoActual === 4">
  <h3 class="mb-4 text-center text-2xl font-bold">Datos del Referente</h3>

  <div class="mb-4">
    <label class="block mb-1">Nombre y Apellido</label>
    <input type="text" class="p-2 w-full border"
           [(ngModel)]="encuestaSeleccionada.datosReferente.nombre_apellido"
           name="nombre_apellido" [ngModelOptions]="{standalone: true}">
  </div>

  <div class="mb-4">
    <label class="block mb-1">Cargo - Área</label>
    <input type="text" class="p-2 w-full border"
           [(ngModel)]="encuestaSeleccionada.datosReferente.cargoArea"
           name="cargoAreaReferente" [ngModelOptions]="{standalone: true}">
  </div>

  <div class="mb-4">
    <label class="block mb-1">Tipo de Teléfono</label>
    <select class="p-2 w-full border"
            [(ngModel)]="encuestaSeleccionada.datosReferente.tipo_telefono"
            name="tipoTelefonoReferente" [ngModelOptions]="{standalone: true}">
      <option [value]="'Particular'">Particular</option>
      <option [value]="'Corporativo'">Corporativo</option>
    </select>
  </div>

  <div class="mb-4">
    <label class="block mb-1">Número de Teléfono</label>
    <input type="text" class="p-2 w-full border"
           [(ngModel)]="encuestaSeleccionada.datosReferente.numero_telefono"
           name="numeroTelefonoReferente" [ngModelOptions]="{standalone: true}">
  </div>
</div>

<!-- Paso 5 -->
<div *ngIf="pasoActual === 5">
  <h3 class="mb-4 text-center text-2xl font-bold">Producción</h3>

  <div *ngFor="let item of encuestaSeleccionada?.produccion; let i = index" class="p-4 mb-4 bg-gray-100 border rounded">

    <div class="mb-2">
      <label class="block font-semibold">Producto:</label>
      <input type="text" class="p-2 w-full border" [(ngModel)]="item.producto" name="producto_{{i}}">
    </div>

    <div class="mb-2">
      <label class="block font-semibold">Unidad de Medida:</label>
      <input type="text" class="p-2 w-full border" [(ngModel)]="item.unidad_medida" name="unidad_medida_{{i}}">
    </div>

    <div class="mb-2">
      <label class="block font-semibold">Mercado Interno:</label>
      <input type="number" class="p-2 w-full border" [(ngModel)]="item.mercado_interno" name="mercado_interno_{{i}}">
    </div>

    <div class="mb-2">
      <label class="block font-semibold">Mercado Externo:</label>
      <input type="number" class="p-2 w-full border" [(ngModel)]="item.mercado_externo" name="mercado_externo_{{i}}">
    </div>

    <div class="mb-2">
      <label class="block font-semibold">Observaciones:</label>
      <input type="text" class="p-2 w-full border" [(ngModel)]="item.observaciones" name="observaciones_{{i}}">
    </div>

  </div>

</div>


      
<div *ngIf="pasoActual === 6">
  <h3 class="mb-4 text-center text-2xl font-bold">Insumos Básicos</h3>
  <div *ngFor="let item of encuestaSeleccionada?.insumosBasicos; let i = index" class="p-4 mb-4 bg-gray-100 border rounded">

    <div class="mb-2">
      <label class="block font-semibold">Tipo:</label>
      <input type="text" class="p-2 w-full border" [(ngModel)]="item.tipo" [ngModelOptions]="{standalone: true}"  name="tipo_{{i}}" />
    </div>

    <div class="mb-2">
      <label class="block font-semibold">Cantidad:</label>
      <input type="number" class="p-2 w-full border" [(ngModel)]="item.cantidad" [ngModelOptions]="{standalone: true}" name="cantidad_{{i}}" />
    </div>

    <div class="mb-2">
      <label class="block font-semibold">Monto en Pesos:</label>
      <input type="number" class="p-2 w-full border" [(ngModel)]="item.monto_pesos" [ngModelOptions]="{standalone: true}"  name="monto_pesos_{{i}}" />
    </div>

  </div>
</div>


<div *ngIf="pasoActual === 7">
  <h3 class="mb-4 text-center text-2xl font-bold">Mano de Obra</h3>
  <div *ngFor="let item of encuestaSeleccionada?.manoDeObra; let i = index" class="p-4 mb-4 bg-gray-100 border rounded">

    <div class="mb-2">
      <label class="block font-semibold">Tipo:</label>
      <input type="text" class="p-2 w-full border" [(ngModel)]="item.tipo" [ngModelOptions]="{standalone: true}" name="mano_tipo_{{i}}" />
    </div>

    <div class="mb-2">
      <label class="block font-semibold">Monto en Pesos:</label>
      <input type="number" class="p-2 w-full border" [(ngModel)]="item.monto_pesos" [ngModelOptions]="{standalone: true}" name="mano_monto_{{i}}" />
    </div>

  </div>
</div>



<div *ngIf="pasoActual === 8">
  <h3 class="mb-4 text-center text-2xl font-bold">Utilización de Insumos</h3>
  <div *ngFor="let item of encuestaSeleccionada?.utilizacionInsumos; let i = index" class="p-4 mb-4 bg-gray-100 border rounded">

    <div class="mb-2">
      <label class="block font-semibold">Producto:</label>
      <input type="text" class="p-2 w-full border" [(ngModel)]="item.producto"  [ngModelOptions]="{standalone: true}" name="util_producto_{{i}}" />
    </div>

    <div class="mb-2">
      <label class="block font-semibold">Unidad de Medida:</label>
      <input type="text" class="p-2 w-full border" [(ngModel)]="item.unidad_medida"  [ngModelOptions]="{standalone: true}" name="util_unidad_{{i}}" />
    </div>

    <div class="mb-2">
      <label class="block font-semibold">Cantidad:</label>
      <input type="number" class="p-2 w-full border" [(ngModel)]="item.cantidad"  [ngModelOptions]="{standalone: true}" name="util_cantidad_{{i}}" />
    </div>

    <div class="mb-2">
      <label class="block font-semibold">Monto en Pesos:</label>
      <input type="number" class="p-2 w-full border" [(ngModel)]="item.monto_pesos"  [ngModelOptions]="{standalone: true}" name="util_monto_{{i}}" />
    </div>

  </div>
</div>



<div *ngIf="pasoActual === 9">
  <h3 class="mb-4 text-center text-2xl font-bold">Utilización de Servicios</h3>

  <div *ngFor="let item of encuestaSeleccionada?.utilizacionServicios; let i = index" class="p-4 mb-4 bg-gray-100 border rounded">
    
    <div class="mb-2">
      <label class="block font-semibold">Nombre:</label>
      <input
        type="text"
        class="p-2 w-full border"
        [(ngModel)]="item.nombre"
        [ngModelOptions]="{ standalone: true }"
        name="servicio_nombre_{{ i }}"
      />
    </div>

    <div class="mb-2">
      <label class="block font-semibold">Monto en Pesos:</label>
      <input
        type="number"
        class="p-2 w-full border"
        [(ngModel)]="item.monto_pesos"
        [ngModelOptions]="{ standalone: true }"
        name="servicio_monto_{{ i }}"
      />
    </div>

  </div>
</div>


<div *ngIf="pasoActual === 10">
  <h3 class="mb-4 text-center text-2xl font-bold">Cantidad de Trabajadores por Trimestre</h3>

  <div *ngFor="let item of encuestaSeleccionada?.cantidadTrabajadores; let i = index" class="p-4 mb-4 bg-gray-100 border rounded">
    <div class="mb-2 font-semibold">Periodo: {{ item.periodo }}</div>

    <div class="grid grid-cols-2 gap-2">
      <div>
        <label>Planta Permanente Afectado:</label>
        <input type="number" class="p-1 w-full border" [(ngModel)]="item.plantaAfPermanente" name="cantTrabajadores_plantaAfPermanente_{{i}}" [ngModelOptions]="{standalone: true}">
      </div>
      <div>
        <label>Planta Contratado Afectado:</label>
        <input type="number" class="p-1 w-full border" [(ngModel)]="item.plantaAfContratado" name="cantTrabajadores_plantaAfContratado_{{i}}" [ngModelOptions]="{standalone: true}">
      </div>
      <div>
        <label>Planta Resto:</label>
        <input type="number" class="p-1 w-full border" [(ngModel)]="item.plantaResto" name="cantTrabajadores_plantaResto_{{i}}" [ngModelOptions]="{standalone: true}">
      </div>
      <div>
        <label>Temporal Afectado:</label>
        <input type="number" class="p-1 w-full border" [(ngModel)]="item.temporalAfectado" name="cantTrabajadores_temporalAfectado_{{i}}" [ngModelOptions]="{standalone: true}">
      </div>
      <div>
        <label>Temporal Resto:</label>
        <input type="number" class="p-1 w-full border" [(ngModel)]="item.temporalResto" name="cantTrabajadores_temporalResto_{{i}}" [ngModelOptions]="{standalone: true}">
      </div>
    </div>
  </div>
</div>



<div *ngIf="pasoActual === 11">
  <h3 class="mb-4 text-center text-2xl font-bold">Horas Normales por Trimestre</h3>

  <div *ngFor="let item of encuestaSeleccionada?.horasNormales; let i = index" class="p-4 mb-4 bg-gray-100 border rounded">
    <div class="mb-2 font-semibold">Periodo: {{ item.periodo }}</div>

    <div class="grid grid-cols-2 gap-2">
      <div>
        <label>Planta Permanente Afectado:</label>
        <input type="number" class="p-1 w-full border" [(ngModel)]="item.plantaAfPermanente" name="horasNormales_plantaAfPermanente_{{i}}" [ngModelOptions]="{standalone: true}">
      </div>
      <div>
        <label>Planta Contratado Afectado:</label>
        <input type="number" class="p-1 w-full border" [(ngModel)]="item.plantaAfContratado" name="horasNormales_plantaAfContratado_{{i}}" [ngModelOptions]="{standalone: true}">
      </div>
      <div>
        <label>Planta Resto:</label>
        <input type="number" class="p-1 w-full border" [(ngModel)]="item.plantaResto" name="horasNormales_plantaResto_{{i}}" [ngModelOptions]="{standalone: true}">
      </div>
      <div>
        <label>Temporal Afectado:</label>
        <input type="number" class="p-1 w-full border" [(ngModel)]="item.temporalAfectado" name="horasNormales_temporalAfectado_{{i}}" [ngModelOptions]="{standalone: true}">
      </div>
      <div>
        <label>Temporal Resto:</label>
        <input type="number" class="p-1 w-full border" [(ngModel)]="item.temporalResto" name="horasNormales_temporalResto_{{i}}" [ngModelOptions]="{standalone: true}">
      </div>
    </div>
  </div>
</div>

<div *ngIf="pasoActual === 12">
  <h3 class="mb-4 text-center text-2xl font-bold">Horas Extras por Trimestre</h3>

  <div *ngFor="let item of encuestaSeleccionada?.horasExtras; let i = index" class="p-4 mb-4 bg-gray-100 border rounded">
    <div class="mb-2 font-semibold">Periodo: {{ item.periodo }}</div>

    <div class="grid grid-cols-2 gap-2">
      <div>
        <label>Planta Permanente Afectado:</label>
        <input type="number" class="p-1 w-full border" [(ngModel)]="item.plantaAfPermanente" name="horasExtras_plantaAfPermanente_{{i}}" [ngModelOptions]="{standalone: true}">
      </div>
      <div>
        <label>Planta Contratado Afectado:</label>
        <input type="number" class="p-1 w-full border" [(ngModel)]="item.plantaAfContratado" name="horasExtras_plantaAfContratado_{{i}}" [ngModelOptions]="{standalone: true}">
      </div>
      <div>
        <label>Planta Resto:</label>
        <input type="number" class="p-1 w-full border" [(ngModel)]="item.plantaResto" name="horasExtras_plantaResto_{{i}}" [ngModelOptions]="{standalone: true}">
      </div>
      <div>
        <label>Temporal Afectado:</label>
        <input type="number" class="p-1 w-full border" [(ngModel)]="item.temporalAfectado" name="horasExtras_temporalAfectado_{{i}}" [ngModelOptions]="{standalone: true}">
      </div>
      <div>
        <label>Temporal Resto:</label>
        <input type="number" class="p-1 w-full border" [(ngModel)]="item.temporalResto" name="horasExtras_temporalResto_{{i}}" [ngModelOptions]="{standalone: true}">
      </div>
    </div>
  </div>
</div>




  <div *ngIf="pasoActual === 13">
  <h3 class="mb-4 text-center text-2xl font-bold">Ventas por Trimestre</h3>

  <div *ngFor="let trimestre of encuestaSeleccionada?.venta; let i = index" class="p-4 mb-4 bg-gray-100 border rounded">
    <div class="mb-2 font-semibold">Periodo: {{ trimestre.periodo }}</div>

    <div *ngIf="trimestre.items?.length > 0; else sinItems">
      <div *ngFor="let item of trimestre.items; let j = index" class="p-2 mb-2 bg-white border rounded">
        <div>
          <label><strong>Ítem:</strong></label>
          <input type="text" class="p-1 w-full border" [(ngModel)]="item.item" name="ventas_item_{{i}}_{{j}}" [ngModelOptions]="{standalone: true}">
        </div>
        <div>
          <label><strong>Monto:</strong></label>
          <input type="number" class="p-1 w-full border" [(ngModel)]="item.monto" name="ventas_monto_{{i}}_{{j}}" [ngModelOptions]="{standalone: true}">
        </div>
      </div>
    </div>

    <ng-template #sinItems>
      <p>No hay datos para este trimestre.</p>
    </ng-template>
  </div>
</div>


<div *ngIf="pasoActual === 14">
  <h3 class="mb-4 text-center text-2xl font-bold">Actividades de Investigación y Desarrollo</h3>

  <div *ngFor="let actividad of encuestaSeleccionada?.investigacionDesarrollo?.actividad; let i = index" class="p-4 mb-4 bg-gray-100 border rounded">
    
    <div class="mb-2">
      <label class="font-semibold">Nombre:</label>
      <input
        type="text"
        class="p-1 w-full border"
        [(ngModel)]="actividad.nombre"
        name="actividad_nombre_{{ i }}"
        [ngModelOptions]="{ standalone: true }"
      />
    </div>

    <div class="mb-2">
      <label class="font-semibold">¿Realiza?:</label>
      <select
        class="p-1 w-full border"
        [(ngModel)]="actividad.realiza"
        name="actividad_realiza_{{ i }}"
        [ngModelOptions]="{ standalone: true }"
      >
        <option [value]="true">Sí</option>
        <option [value]="false">No</option>
      </select>
    </div>

    <div class="mb-2">
      <label class="font-semibold">Monto:</label>
      <input
        type="number"
        class="p-1 w-full border"
        [(ngModel)]="actividad.monto"
        name="actividad_monto_{{ i }}"
        [ngModelOptions]="{ standalone: true }"
        min="0"
      />
    </div>
  </div>
</div>


<div *ngIf="pasoActual === 15">
  <h3 class="mb-4 text-center text-2xl font-bold">Perspectiva</h3>

  <div *ngFor="let item of encuestaSeleccionada?.perspectiva?.item; let i = index" class="p-4 mb-4 bg-gray-100 border rounded">
    
    <div class="mb-2">
      <label class="font-semibold">Nombre:</label>
      <input
        type="text"
        class="p-1 w-full border"
        [(ngModel)]="item.nombre"
        name="perspectiva_nombre_{{i}}"
        [ngModelOptions]="{ standalone: true }"
      />
    </div>

    <div class="mb-2">
      <label class="font-semibold">Respuesta:</label>
      <input
        type="text"
        class="p-1 w-full border"
        [(ngModel)]="item.respuesta"
        name="perspectiva_respuesta_{{i}}"
        [ngModelOptions]="{ standalone: true }"
      />
    </div>

    <div class="mb-2">
      <label class="font-semibold">Observaciones:</label>
      <input
        type="text"
        class="p-1 w-full border"
        [(ngModel)]="item.observaciones"
        name="perspectiva_observaciones_{{i}}"
        [ngModelOptions]="{ standalone: true }"
      />
    </div>
  </div>
</div>

      


      <!-- Navegación -->
      <div class="flex justify-between mt-6">
        <button type="button" class="px-4 py-2 bg-gray-300 rounded" (click)="pasoAnterior()" [disabled]="pasoActual === 1">Anterior</button>
        <button type="button" class="px-4 py-2 text-white bg-[#FF8300] rounded" (click)="guardarCambios()">Guardar Cambios</button>
        <button type="button" class="px-4 py-2 text-white bg-blue-500 rounded" (click)="siguientePaso()" *ngIf="pasoActual < 16">Siguiente</button>
        
        <!-- <button type="submit" class="px-4 py-2 text-white bg-[#FF8300] rounded" *ngIf="pasoActual === 1">Guardar</button> -->
      </div>
    </form>
    
  </div>
</div>
</div> 




