<app-header></app-header>


<section class="text-gray-600 body-font">
  <div class="container flex flex-col px-5 mx-auto">
    <div>

      <div class="flex flex-col mt-10 sm:flex-row">
        <div class="py-8 w-1/3 text-center sm:pr-8">
          <div class="inline-flex items-center justify-center w-20 h-20 text-gray-400 bg-gray-200 rounded-full">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10" viewBox="0 0 24 24">
              <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
              <circle cx="12" cy="7" r="4"></circle>
            </svg>
          </div>
          <div  class="flex flex-col items-center justify-center text-center">
            <h2 class="mt-4 font-medium text-gray-900 text-lg title-font">Validador</h2>
            <div class="mt-2 mb-4 w-12 h-1 bg-indigo-500 rounded"></div>
            <p class="text-base">Raclette knausgaard hella meggs normcore williamsburg enamel pin sartorial venmo tbh hot chicken gentrify portland.</p>
          </div>
        </div>
        <div class="mt-4 pt-4 py-8 mt-0 w-2/3 text-center text-left border-gray-200 border-t border-l border-t-0 sm:pl-8">
          <p class="mb-4 leading-relaxed text-lg">Relevamiento industrial manufacturero muestra un panorama crítico para el sector, con caídas en la producción y actividad industrial en varios rubros y una reducción en la utilización de la capacidad instalada. Es importante seguir monitoreando estos indicadores para comprender mejor la situación actual y futura del sector manufacturero.</p>

          <div  class="flex mt-6 md:mt-4">
            <a href="/one" class="inline-flex items-center ml-4"><strong>Comenzar la carga</strong>
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="ml-2 w-4 h-4" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>  

<div class="p-4 bg-white shadow-md">
    <div class="flex border-b border-gray-300">
      <button 
        id="allSegment"
        class="flex-1 py-2 text-center text-lg font-semibold"
        [ngClass]="{'text-blue-500': activeSegment === 'all'}" 
        (click)="toggleSegment('all')">
        Cargar
      </button>
      
      <button 
        id="favoritesSegment"
        class="flex-1 py-2 text-center text-lg font-semibold"
        [ngClass]="{'text-blue-500': activeSegment === 'favorites'}"
        (click)="toggleSegment('favorites')">
        Buscar
      </button>
    </div>
  


    
  <div *ngIf="activeSegment === 'all'" id="allContent" class="p-4">
    <form>
      <div class="container p-6 mx-auto p-4 bg-white rounded-lg shadow-md">

        <br>
        <br>
  
        <div class="mb-4">
          <label class="block mb-1">ID Empresa:</label>
          <input type="number" class="p-2 w-full border"  name="id_operativo" />
        </div>

        <div class="mb-4">
            <label class="block mb-1">Estado de la encuesta:</label>
            <select class="p-2 w-full border"  name="medio">
              <option value="Ingresado">Recepcionado</option>
              <option value="Recepcionado">Validado</option>
            </select>
          </div>
  
        <div class="mb-4">
          <label class="block mb-1">Ingresador:</label>
          <input type="text" class="p-2 w-full border"  name="ingresador" />
        </div>
  
        <div class="mb-4">
          <label class="block mb-1">Analista:</label>
          <input type="text" class="p-2 w-full border"  name="analista" />
        </div>
  
        <div class="mb-4">
          <label class="block mb-1">Fecha de Entrega:</label>
          <input type="date" class="p-2 w-full border"  name="fecha_entrega" />
        </div>
  
        <div class="mb-4">
          <label class="block mb-1">Fecha de Recupero:</label>
          <input type="date" class="p-2 w-full border" name="fecha_recupero" />
        </div>
  
        <div class="mb-4">
          <label class="block mb-1">Fecha de Supervisión:</label>
          <input type="date" class="p-2 w-full border"  name="fecha_supervision" />
        </div>
  
        <div class="mb-4">
          <label class="block mb-1">Medio:</label>
          <select class="p-2 w-full border" [(ngModel)]="encuesta.medio" name="medio">
            <option value="PAPEL">Papel</option>
            <option value="DIGITAL">Digital</option>
          </select>
        </div>
  
        <div class="mb-4">
          <label class="block mb-1">Observaciones del Ingresador:</label>
          <textarea class="p-2 w-full border"  name="observaciones_ingresador"></textarea>
        </div>
  
        <div class="mb-4">
          <label class="block mb-1">Observaciones del Analista:</label>
          <textarea class="p-2 w-full border"  name="observaciones_analista"></textarea>
        </div>
          <div class="mb-4">
          <label class="block mb-1">Observaciones del Supervisor:</label>
          <textarea class="p-2 w-full border"  name="observaciones_supervisor"></textarea>
        </div>
  
        <div class="flex justify-center">
          <button type="button" class="px-4 py-2 text-white bg-[#FF8300] rounded" (click)="nextStep()">Siguiente</button>
        </div>
      </div>
    </form>
  <br>
  <br>
    </div>

  <div *ngIf="activeSegment === 'favorites'" id="favoritesContent" class="p-4">

    <div class="overflow-x-auto mt-4">
      <table class="min-w-full bg-white divide-y divide-gray-200 rounded-lg shadow">
        <thead class="bg-gray-100">
          <tr>
            <!-- <th class="px-4 py-2 text-left text-sm font-medium text-gray-600">ID_Empresa</th> -->
            <th class="px-4 py-2 text-left text-sm font-medium text-gray-600">ID_Operativo</th>
            <th class="px-4 py-2 text-left text-sm font-medium text-gray-600">Ingresador</th>
            <th class="px-4 py-2 text-left text-sm font-medium text-gray-600">Analista</th>
            <th class="px-4 py-2 text-left text-sm font-medium text-gray-600">Entrega</th>
            <th class="px-4 py-2 text-left text-sm font-medium text-gray-600">Recupero</th>
            <th class="px-4 py-2 text-left text-sm font-medium text-gray-600">Supervisión</th>
            <th class="px-4 py-2 text-left text-sm font-medium text-gray-600">Ingreso</th>
            <th class="px-4 py-2 text-left text-sm font-medium text-gray-600">Obs. Ingresador</th>
            <th class="px-4 py-2 text-left text-sm font-medium text-gray-600">Obs. Analista</th>
            <th class="px-4 py-2 text-left text-sm font-medium text-gray-600">Obs. Supervisor</th>
            <th class="px-4 py-2 text-left text-sm font-medium text-gray-600">Estado</th>
            <th class="px-4 py-2 text-left text-sm font-medium text-gray-600">Año</th>
            <th class="px-4 py-2 text-left text-sm font-medium text-gray-600">Referente</th>
            <th class="px-4 py-2 text-left text-sm font-medium text-gray-600">Ultima Modificacion</th>
            
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">
          <tr (click)="verEncuesta(item.idEmpresa)" *ngFor="let item of pendientes">
            <!-- <td class="px-4 py-2 text-sm text-gray-700">{{ item.idEmpresa }}</td> -->
            <td  class="px-4 py-2 text-sm text-gray-700">{{ item.idOperativo }}</td>
            <td class="px-4 py-2 text-sm text-gray-700">{{ item.ingresador }}</td>
            <td class="px-4 py-2 text-sm text-gray-700">{{ item.analista }}</td>
       
            <td class="px-4 py-2 text-sm text-gray-700">{{ item.fecha_entrega | date:'yyyy-MM-dd' }}</td>
            <td class="px-4 py-2 text-sm text-gray-700">{{ item.fecha_recupero | date:'yyyy-MM-dd' }}</td>
            <td class="px-4 py-2 text-sm text-gray-700">{{ item.fecha_supervision | date:'yyyy-MM-dd' }}</td>
            <td class="px-4 py-2 text-sm text-gray-700">{{ item.fecha_ingreso | date:'yyyy-MM-dd' }}</td>
            <td class="px-4 py-2 text-sm text-gray-700">{{ item.observaciones_ingresador }}</td>
            <td class="px-4 py-2 text-sm text-gray-700">{{ item.observaciones_analista }}</td>
            <td class="px-4 py-2 text-sm text-gray-700">{{ item.observaciones_supervisor }}</td>
            <td class="px-4 py-2 text-sm text-gray-700">{{ item.estado }}</td>
            <td class="px-4 py-2 text-sm text-gray-700">{{ item.anio }}</td>
            <td class="px-4 py-2 text-sm text-gray-700">{{ item.referente }}</td>
            <td class="px-4 py-2 text-sm text-gray-700">{{ item.fecha_mod_estado | date:'dd/MM/yyyy HH:mm'  }}</td>
       
          </tr>
        </tbody>
      </table>
    </div>
  
  </div>
</div>
<br>
<br>
<div
class="z-10 overflow-y-auto fixed inset-0"
*ngIf="mostrarModal"
aria-labelledby="modal-title"
role="dialog"
aria-modal="true"
>
<div class="flex items-center justify-center min-h-screen">
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" (click)="cerrarModal()"></div>

  <div class="overflow-hidden z-20 p-6 w-full bg-white rounded-lg shadow-xl transition-all transform sm:max-w-4xl">
    <h2 class="mb-4 text-xl font-semibold">Editar Encuesta</h2>

    <form >
      
      <div>
    <div class="mb-4">
      <label class="block mb-1">ID Empresa:</label>
      <input type="number" class="p-2 w-full border" [disabled]="true" name="id_empresa" [(ngModel)]="encuestaSeleccionada.id_empresa">
    </div>

    <div class="mb-4">
      <label class="block mb-1">Estado de la encuesta:</label>
      <select class="p-2 w-full border" name="estado" [(ngModel)]="encuestaSeleccionada.estado">
                  <option *ngFor="let estado of estados" [value]="estado">
                  {{ estado }}
                 </option>
      </select>
    </div>

    <div class="mb-4">
      <label class="block mb-1">Ingresador:</label>
      <input type="text" class="p-2 w-full border" name="ingresador" [disabled]="true" [(ngModel)]="encuestaSeleccionada.ingresador">
    </div>

    <div class="mb-4">
      <label class="block mb-1">Analista:</label>
      <input type="text" class="p-2 w-full border" name="analista" [disabled]="true" [(ngModel)]="encuestaSeleccionada.analista">
    </div>

    <div class="mb-4">
      <label class="block mb-1">Fecha de Entrega:</label>
      <input type="date" class="p-2 w-full border" name="fecha_entrega" [disabled]="true" [(ngModel)]="encuestaSeleccionada.fecha_entrega">
    </div>

    <div class="mb-4">
      <label class="block mb-1">Fecha de Recupero:</label>
      <input type="date" class="p-2 w-full border" name="fecha_recupero" [disabled]="true" [(ngModel)]="encuestaSeleccionada.fecha_recupero">
    </div>

    <div class="mb-4">
      <label class="block mb-1">Fecha de Supervisión:</label>
      <input type="date" class="p-2 w-full border" name="fecha_supervision" [disabled]="true" [(ngModel)]="encuestaSeleccionada.fecha_supervision">
    </div>

    

    <div class="mb-4">
      <label class="block mb-1">Medio:</label>
      <select class="p-2 w-full border" [disabled]="true" [(ngModel)]="encuestaSeleccionada.medio" name="medio">
        <option value="PAPEL">Papel</option>
        <option value="DIGITAL">Digital</option>
      </select>
    </div>

    <div class="mb-4">
      <label class="block mb-1">Observaciones del Ingresador:</label>
      <textarea class="p-2 w-full border" name="observaciones_ingresador" [disabled]="true" [(ngModel)]="encuestaSeleccionada.observaciones_ingresador"></textarea>
    </div>

    <div class="mb-4">
      <label class="block mb-1">Observaciones del Analista:</label>
      <textarea class="p-2 w-full border" name="observaciones_analista" [(ngModel)]="encuestaSeleccionada.observaciones_analista"></textarea>
    </div>

    <div class="mb-4">
      <label class="block mb-1">Observaciones del Supervisor:</label>
      <textarea class="p-2 w-full border" name="observaciones_supervisor" [disabled]="true" [(ngModel)]="encuestaSeleccionada.observaciones_supervisor"></textarea>
    </div>

  </div>

      <div class="flex justify-end gap-4 mt-4">
        <button type="button" (click)="cerrarModal()" class="px-4 py-2 bg-gray-300 rounded">Cancelar</button>
        <button type="button" class="px-4 py-2 text-white bg-[#FF8300] rounded" (click)="guardarCambios()">Guardar</button>

      </div>
    </form>
  </div>
</div>
</div>
