<div class="h-screen flex items-center justify-center py-10">
  <div class="bg-white p-8 rounded-lg shadow-md w-96">
    <h2 class="text-2xl font-bold mb-6 text-center">Registro de usuarios</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
      <div class="flex flex-wrap -mx-3 mb-6">
        <!-- Usuario -->
        <div class="w-full px-3">
          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="username">
            Usuario
          </label>
          <input 
            id="username" 
            formControlName="username"
            class="appearance-none block w-full bg-gray-200 text-gray-700 border border-[#FF8300] rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" 
            type="text" 
            placeholder="Primera letra del nombre seguido del apellido." />
        </div>

        <!-- Password -->
        <div class="w-full px-3">
          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="password">
            Contraseña
          </label>
          <input 
            id="password" 
            formControlName="password"
            class="appearance-none block w-full bg-gray-200 text-gray-700 border border-[#FF8300] rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" 
            type="password" 
            placeholder="******************" />
        </div>
      </div>

      <div class="flex flex-wrap -mx-3 mb-2">
        <div class="w-full px-3 mb-6 md:mb-0">
          <label class="block justify-center uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="profile">
            Perfil
          </label>
          <div class="relative flex justify-center w-full">
            <select 
              id="profile" 
              formControlName="profile"  
              class="block w-full bg-gray-200 border border-[#FF8300] text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white">
              <option *ngFor="let perfil of profiles" [value]="perfil.id">
                {{ perfil.name }}
              </option>
            </select>
            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
              <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
              </svg>
            </div>
          </div>
        </div>
      </div>
      

      <button type="submit" class="bg-[#FF8300] text-white px-4 py-2 rounded w-full">
        Registrarse
      </button>
    </form>
  </div>
</div>
