<!-- <app-header></app-header>

<div *ngIf="user; else noUser">
  <ng-container [ngSwitch]="getMainRole()">
    <app-home-adm *ngSwitchCase="'ADMIN'"></app-home-adm>
    <app-home-ing *ngSwitchCase="'USER'"></app-home-ing>
    <app-home-an *ngSwitchCase="'ANALISTA'"></app-home-an>
    <app-home-sup *ngSwitchCase="'SUPERVISOR'"></app-home-sup>
    <app-home-cor *ngSwitchCase="'COORDINADOR'"></app-home-cor>
    <p *ngSwitchDefault>Rol no reconocido</p>
  </ng-container>
</div>

<ng-template #noUser>
  <p class="text-center mt-8 text-gray-500">No estás autenticado.</p>
</ng-template> -->
